html
  line-height: 2rem


body
  display: flex
  flex-direction: column
  flex-wrap: nowrap
  nav
    flex: 0 1
    display: flex
    flex-direction: row
    padding: $gutter
    img
      margin: $gutter 2px $gutter $gutter 
      width: 32px
      height: 32px
    h1
      margin: $gutter 0px
      line-height: 110% 

  .content
    overflow-y: auto
    width: 100%
    height: 100%
    display: flex
    flex-direction: row
    aside
      padding: $gutter
      flex-shrink: 0
    #splitter
      width: $gutter
      flex: 0 0 $gutter
    main
      padding: $gutter ($gutter * 4)


h1, h2, h3, h4, h5, h6
  margin: ($gutter * 4) 0px ($gutter * 2) 0px 
